.container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;

    input {
        width: 300px;
        padding: 15px 20px;
        border: 1px solid #B0B0B0;
        border-radius: 5px;
        outline: #8261E0;

        &:focus {
            border: 1px solid #8261E0;
        }
    }
}

.input-group-append {
    background-color: #00a6f7;
    padding: 10px 12px;
    margin-left: -2px;
    border-radius: 0px 5px 5px 0px;

    button {
        background-color: unset;
        border: none;
        color: #fff;
    }
}