@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import './styles/toastify.scss';

:root {
  font-family: "Nunito Sans", sans-serif;

}

* {
  margin: 0;
  padding: 0;
}

.ub-pr_32px {
  padding-right: unset !important;
}

.ub-pl_32px {
  padding-left: unset !important;
}

.ub-pt_8px {
  padding-top: unset !important;
}

.ub-pb_8px {
  padding-bottom: unset !important;
}

.view_pdf {
  .ub-w_560px {
    width: 750px !important;
  }
}