.create-button {
    display: flex;

    button {
        background-color: #8261E0;
        color: white;
        font-size: 14px;
        font-weight: 600;

    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}